*{
    margin: 0;
    padding: 0;
    border: 0;

}

.wrapper{
    max-width: 1200px;
    margin: 0 auto;
    }

.header {
    background: white;
    height: 100px;
    display: flex;
    border-bottom: 2px whitesmoke solid;
    }

.logo {
    background: url(../images/header/logo.jpg)  center center/ contain no-repeat;
    margin-left: 20px;
    
}

.header-logo {
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.header-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-left: 30px
}
.header-enter {
    margin-left: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header a {
    color: black;
    text-decoration: none;
    padding: 20px;
    font-size: 13px;
}
