
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
  max-width: 1200px;
  
  margin: 0 auto;
}

.wrapper .wrapper-work {
  max-width: 1240px;
  background-color: white;
  margin: 0 auto;
}

.wrapper .wrapper-work .wrapper-work-product {
  max-width: 1200px;
  background-color: #fafafa;
  margin: 0 auto;
}

.wrapper .wrapper-work .wrapper-work-product .wrapper-work-product-wrapper {
  width: 95%;
  margin: 0 auto;
  background-color: #fafafa;
}

.wrapper .wrapper-work .wrapper-work-product .wrapper-work-product-wrapper .wrapper-work-product-wrapper-product {
  background-image: url(../images/catalog/9.jpg);
  width: 60%;
  height: 450px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}

@media (min-width: 850px) and (max-width: 1000px) {
  .wrapper .wrapper-work .wrapper-work-product .wrapper-work-product-wrapper .wrapper-work-product-wrapper-product {
    width: 72%;
  }
}

@media (min-width: 720px) and (max-width: 849px) {
  .wrapper .wrapper-work .wrapper-work-product .wrapper-work-product-wrapper .wrapper-work-product-wrapper-product {
    width: 76%;
    height: 400px;
  }
}

@media (max-width: 720px) {
  .wrapper .wrapper-work .wrapper-work-product .wrapper-work-product-wrapper .wrapper-work-product-wrapper-product {
    width: 76%;
    height: 400px;
  }
}

@media (max-width: 705px) {
  .wrapper .wrapper-work .wrapper-work-product .wrapper-work-product-wrapper .wrapper-work-product-wrapper-product {
    width: 91%;
    height: 400px;
  }
}

@media (max-width: 590px) {
  .wrapper .wrapper-work .wrapper-work-product .wrapper-work-product-wrapper .wrapper-work-product-wrapper-product {
    width: 88%;
    height: 320px;
  }
}

@media (max-width: 500px) {
  .wrapper .wrapper-work .wrapper-work-product .wrapper-work-product-wrapper .wrapper-work-product-wrapper-product {
    width: 300px;
    height: 231px;
    background-size: contain;
  }
}

.product_description {
  margin: 0 auto;
  text-align: center;
  line-height: 1.6;
  max-width: 602px;
  margin-top: 50px;
}

.product_description .product_description-vendor_code {
  color: #7a7a7a;
  font-size: 14pt;
}

.product_description .product_description-price {
  font-size: 16pt;
  font-style: italic;
  margin: 0 0 30px 0;
}

.product_description .product_description-description {
  margin: 0 0 30px 0;
}

@media (max-width: 500px) {
  .product_description .product_description-description {
    padding: 0 10px;
  }
}

.product_description .product_description-product_size {
  color: #7a7a7a;
  line-height: 3;
}

.product_description .product_description-product_size-size_number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 300px;
  margin: 0 auto;
}

.product_description .product_description-product_size-size_number button {
  height: 30px;
  width: 30px;
  border: 2px #7a7a7a solid;
  line-height: 1.7em;
  background-color: white;
  outline: none;
}

.product_description .product_description-product_size-size_number button:hover {
  border: 3px #7a7a7a solid;
  background-color: #bebebe;
  line-height: 2em;
}

.product_description .product_description-product_size-size_number button:focus {
  border: 3px #7a7a7a solid;
  background-color: #bebebe;
  line-height: 2em;
}

.product_description .product_description-btn {
  height: 50px;
  width: 250px;
  background-color: #ff9900;
  line-height: 3.45em;
  color: white;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  cursor: pointer;
}

.product_description .product_description-btn:hover {
  background-color: #fca624;
}
/*# sourceMappingURL=product.css.map */