* {
  font-family: 'Open Sans','Open Sans Condensed','Roboto', sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

#zagolovok {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  color: #303030;
  line-height: 1;
  text-align: center;
  padding: 20px;
  margin: 20px;
  border-top: solid 1px #c2c2c2;
}

#zagolovok h2 {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 28px;
  margin-top: 40px;
  font-style: bold;
}

#zagolovok h4 {
  font-size: 18px;
  font-style: italic;
  margin-bottom: 20px;
}

#cart {
  padding: 20px;
  margin: 20px;
}

table {
  width: 100%;
}

tr {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #303030;
  text-align: center;
  border-bottom: solid 1px #c2c2c2;
}

td {
  border-bottom: solid 1px #c2c2c2;
}

th {
  border-bottom: solid 1px #c2c2c2;
}

#prod_title {
  width: 250px;
  text-align: left;
  font-size: 12px;
  font-family: "Roboto";
  color: #909090;
  text-transform: uppercase;
}

#kolvo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#count {
  margin-right: 10px;
}

#cart img {
  width: 98px;
  height: 98px;
}

#summ {
  background-color: #f9f9f9;
  text-align: right;
  padding: 20px;
  margin: 20px;
}

svg {
  fill: none;
  stroke: orange;
  stroke-width: 1;
  width: 250px;
  height: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 50px;
}

#zigzag {
  -webkit-transform: scale(1, -1);
          transform: scale(1, -1);
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 20px;
  margin: 20px;
}

#forma {
  border: 1px solid #e5e5e5;
  padding: 20px;
  margin: 20px;
  background-color: rgba(235, 235, 235, 0.071);
  text-align: center;
}

#forma input {
  border-width: 1px;
  border-color: #c2c2c2;
  border-style: solid;
  /* background-color: rgb(255, 255, 255); */
  margin-bottom: 30px;
  /* width: 278px; */
  height: 40px;
}

#forma select {
  border-width: 1px;
  border-color: #c2c2c2;
  border-style: solid;
  /* background-color: rgb(255, 255, 255); */
  margin-bottom: 30px;
  width: 578px;
  height: 40px;
}

#zakaz {
  width: 578px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

#zakaz-lg {
  width: 578px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#zakaz-sml-r {
  width: 278px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;
  margin-top: 40px;
}

#zakaz-sml-l {
  width: 278px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-top: 40px;
}

#adress {
  width: 578px;
}

#pole {
  width: 278px;
}

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

#btn {
  border-width: 1px;
  border-color: #e67429;
  border-style: solid;
  background-color: #f68236;
  width: 192px;
  height: 49px;
  color: white;
}

#vasacart {
  font-size: 26px;
  font-family: "Roboto";
  color: #303030;
  text-transform: uppercase;
}

#prod {
  font-size: 14px;
  font-family: "Roboto";
  color: #303030;
  text-transform: uppercase;
}

#podzagolov {
  font-size: 18px;
  font-family: "Georgia";
  color: #606060;
  font-style: italic;
}

#itogo {
  font-size: 18px;
  font-family: "Roboto";
  color: #f68236;
  margin-right: 40px;
  margin-left: 40px;
}

#seriy {
  text-align: left;
  font-size: 12px;
  font-family: "Roboto";
  color: #909090;
  text-transform: uppercase;
}

.drop-down {
  position: relative;
  display: inline-block;
  width: auto;
  margin-top: 0;
  font-family: verdana;
}

.drop-down select {
  display: none;
}

.drop-down .select-list {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin-top: 40px;
  padding: 0;
  background-color: #595959;
}

.drop-down .select-list li {
  display: none;
}

.drop-down .select-list li span {
  display: inline-block;
  min-height: 40px;
  min-width: 280px;
  width: 100%;
  padding: 5px 15px 5px 35px;
  background-color: #595959;
  background-position: left 10px center;
  background-repeat: no-repeat;
  font-size: 16px;
  text-align: left;
  color: #FFF;
  opacity: 0.7;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.drop-down .select-list li span:hover,
.drop-down .select-list li span:focus {
  opacity: 1;
}
/*# sourceMappingURL=sty.css.map */