* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;

}

#zagolovok{
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    color: rgb(48, 48, 48);
    line-height: 1;
    text-align: center;
    padding: 20px;
    margin: 20px;

}
#zagolovok h2{
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-size: 28px;
    margin-top: 40px;
    font-style: bold;
    
}

#zagolovok h4{
    
    font-size: 18px;
    font-style: italic;
    margin-bottom: 20px;
}

#cart {
    padding: 20px;
    margin: 20px;

}

table {
    width: 100%;
    border-spacing: 0px;
}

tr {
    font-family: 'Open Sans Condensed', sans-serif;
    
    color: rgb(48, 48, 48);
    text-align: center;
    border-bottom: solid 1px rgb(194, 194, 194);
}
td {
    border-bottom: solid 1px rgb(194, 194, 194);
}

th {
    border-bottom: solid 1px rgb(194, 194, 194);
}

#prod_title {
    width: 250px;
    text-align: left;
    font-size: 12px;
    font-family: "Roboto";
    color: rgb(144, 144, 144);
    text-transform: uppercase;
}

#kolvo {
    display: flex;
    justify-content: center;
    align-items: center;
}

#count {
    margin-right: 10px;
}

#cart img {
    width: 98px;
    height: 98px;
}


#summ {
    background-color: rgb(249, 249, 249);
    text-align: right;
    padding: 20px;
    margin: 20px;
}

svg {
    fill: none;
    stroke: orange;
    stroke-width: 1;
    width: 250px;
    height: 40px;
    justify-content: center;
    align-items: center;  
    padding-left: 50px;
    
}



#zigzag{
    
    transform: scale( 1, -1);
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 20px;
    margin: 20px;
    
      
}

#forma {
    border: 1px solid rgb(229, 229, 229);
    padding: 20px;
    margin: 20px;
    background-color: rgba(235, 235, 235, 0.071);
    text-align: center;
}

#forma input {
    border-width: 1px;
    border-color: rgb(194, 194, 194);
    border-style: solid;
    /* background-color: rgb(255, 255, 255); */
    margin-bottom: 30px;
   
    /* width: 278px; */
    height: 40px;

}
#forma select {
    border-width: 1px;
    border-color: rgb(194, 194, 194);
    border-style: solid;
    /* background-color: rgb(255, 255, 255); */
    margin-bottom: 30px;
   
    width: 578px;
    height: 40px;

}

#zakaz {
    width: 578px;
    
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
   
}

#zakaz-lg {
    width: 578px;
    
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    
    display: flex;
}

#zakaz-sml-r {
    width: 278px;
    
    justify-content: center;
    align-items: center;
    
    margin-right: auto;
    margin-top: 40px;
}
#zakaz-sml-l {
    width: 278px;
    
    justify-content: center;
    align-items: center;
    
    margin-left: auto;
    margin-top: 40px;
}


#adress {
    width: 578px;
}

#pole {
    width: 278px;
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
} 


#btn {
    border-width: 1px;
    border-color: rgb(230, 116, 41);
    border-style: solid;
    background-color: rgb(246, 130, 54);
    width: 192px;
    height: 49px;
    color: white;

}



#vasacart {
    font-size: 26px;
    font-family: "Roboto";
    color: rgb(48, 48, 48);
    text-transform: uppercase;
  }

  #prod{
    font-size: 14px;
    font-family: "Roboto";
    color: rgb(48, 48, 48);
    text-transform: uppercase;
  
  }


  
#podzagolov {
    font-size: 18px;
    font-style: italic;
  }

 #itogo {
    font-size: 18px;
    font-family: "Roboto";
    color: rgb(246, 130, 54);
    margin-right: 40px;
    margin-left: 40px;

  }
  
#seriy {
    text-align: left;
    
    font-size: 12px;
    font-family: "Roboto";
    color: rgb(144, 144, 144);
    text-transform: uppercase;

}     


.drop-down { 
    position: relative;  
    display: inline-block;    
    width: auto;       
    margin-top: 0;   
    
    width: 578px;
    border-radius: 3px;
    border-width: 1px;
    border-color: rgb(194, 194, 194);
    border-style: solid;
    background-repeat: no-repeat;
    background-position: right no-repeat 10px center;  
    justify-content: center;
    align-items: left;
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;   
    }      
    .drop-down select {   
    display: none;
    background-repeat: no-repeat;    
    }      
    .drop-down .select-list {   
    position: absolute;     
    top: 0;      
    left: 0;     
    z-index: 1;    
    margin-top: 24px;    
    padding: 0;         
    background-color: #e7e7e7;
    border-width: 1px;
    border-color: rgb(194, 194, 194);
    border-style: solid;
    border-radius: 3px;
    width: 578px;
    min-width: 578px;      
    width: 100%; 
    background-repeat: no-repeat;
    background-position: right no-repeat 10px center;        
    }      
    .drop-down .select-list li {
    background-repeat: no-repeat;    
    display: none;
    list-style-type: none;     
    }    
    .drop-down .select-list li span {  
    display: inline-block;      
    min-height: 40px;        
    min-width: 578px;      
    width: 100%;        
    padding: 0px 15px 5px 35px;     
    background-color: #e7e7e7;     
    background-position: right 10px center;   
    background-repeat: no-repeat;       
    font-size: 16px;       
    text-align: left;       
    color: rgb(48, 48, 48);        
    opacity: 0.9;      
    box-sizing: border-box;     
    }     
    .drop-down .select-list li span:hover,  
    .drop-down .select-list li span:focus {     
    opacity: 1;     
    }